unsupervised_middle_project/.idea
unsupervised_middle_project/__pycache__/
unsupervised_middle_project/PCA_reduced_data.csv
unsupervised_middle_project/TSNE_reduced_data.csv
.ipynb_checkpoints
3D plot.ipynb
clean work.ipynb
data1.ipynb
data2.ipynb
dataset_diabetes/
e_shop_clothing.ipynb
latex/
online_shoppers_intention/
e-shop data and description/